
<div class="jumbotron">
	<p style="font-weight: bold; color: #B71C1C; font-size: 27px">Statistics</p>
	<form role="form">
    	<div class="row marketing">
	        <div class="form-group">
				<p>
		    		<input type="text" ng-model="shortUrl" placeholder="Insert shortURL to get statistics" class="form-control input-lg">
		    	</p>
		    	<p>
		    		<a class="btn btn-lg btn-success" ng-click="getStats()">go 
		        		<span class="glyphicon glyphicon-ok"></span>
		        	</a>
			    </p>
			    <p>
		    		<div ng-show="err" class="alert alert-danger">{{err}}</div>
		    	</p>
	    	</div>
    	</div>
    </form>
</div>

<div class="well h2" ng-show="rispostaJson">
	<p class="text-center" style="color:#37474F">
		number of clicks: <b> {{rispostaJson.numClicks}}</b>
	</p>
</div>

<div class="well h2 container-fluid" ng-show="rispostaJson.longUrl">
	<p class="text-center" style="color:#37474F; word-wrap: break-word;">
		long URL: <b> {{rispostaJson.longUrl}}</b>
	</p>
</div>

<div id="bar-chart" class="well" style="display:none">
	<div class="container-fluid" style="padding:10px">
	<p ng-show="rispostaJson.dateStats" class=" text-center h3" style="color:#37474F"><b>Clicks per month</b></p>
		<div id="date-chart-container">
	    </div>

	</div>
</div>


<div id="pie-charts" class="well" style="display:none">
	<div class="container-fluid" style="padding:10px">

	    
	    <div class="row text-center">

	        <div class="col-md-4 col-md-offset-1" style="padding:10px">

		        <div ng-show="rispostaJson.browserStats" class="row text-center">
		        	<p class=" text-center h3" style="color:#37474F; padding-bottom:20px"><b>Browser chart</b></p>
		        </div>

		        <div class="row" id="browser-chart-container" style="width:auto">
		        </div>

		        <div class="row" id="browser-desc-container" style="width:auto; padding-top:30px">
		        </div>

	        </div>


	        <div class="col-md-4 col-md-offset-2" style="padding:10px">
		        
	        	<div ng-show="rispostaJson.countryStats" class="row text-center">
		        	<p class=" text-center h3" style="color:#37474F; padding-bottom:20px"><b>Country chart</b></p>
		        </div>

		        <div class="row" id="country-chart-container" style="width:auto">
		        </div>

		        <div class="row" id="country-desc-container" style="width:auto; padding-top:30px">
		        </div>

	    </div>
	</div>
</div>